body 
{
background:palegoldenrod;
font-size:20px;
text-align:center;
}
.textDiv
{
padding:20px;
}
h1
{
border:2px solid;background:white;
align:center;
padding:15px;
display:inline-block;
}
.teamName
{
border:2px solid;background:white;
padding:10px;
display:inline-block;
}
.teamNameError
{
border:2px solid;background:red;
padding:10px;
display:inline-block;
}
.lgButton
{
width:150px;
height:45px;
font-size:20px;
color:white;
background:orange;
}
.selectClass
{
font-size:20px;
width:300px;
}
.solution
{
border:2px solid;background:white;
align:center;
padding:15px;
display:inline-block;
}
ul
{
padding:0px;
margin:0px;
}
li
{
list-style:none;
padding:5px;
}
.resultDiv
{
padding:5px;
border:2px solid;background:white;
display:inline-block;
}
.tableStyle
{
padding:5px;
font-size:20px;
}